html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;

}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;

}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
  font-family: "Times New Roman"
}

header{
  position:fixed;
  width:100%;
  left:0;
  right:0;
  background-color: black;
  z-index: 100;
}

#logo{
  float:left;
}

.nav{
  float:right;
}

.nav li{
  display:inline-block;

}

.nav li a{
  color:white;
  text-transform: capitalize;
  display:block;
  padding:25px 20px;
  font-size: 20px
}

.nav li a:hover {
  background: white;
  color: black;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.home_bg {
  background-image: url(../images/garden.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.social_icons a{
 color:#fff;
 display:inline-block;
 width:30px;
 height:30px;
 line-height: 40px;
 font-size: 25px;
 margin-right: 7px;

}

.about_me{
  padding:100px 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


h2 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.col_left, .col_right {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.personal_info h3 {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal_info p {
  color: #767676;
  line-height: 24px;
  font-size: 20px;
  text-align: justify;
}

.skills{
 margin:30px auto;
}

.skills li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}

.button_group .download_CV, .button_group .email {
  display: inline-block;
}

.button_group .download_CV {
  margin-right: 18px;
}

.button_group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px 28px;
  text-transform: capitalize;
}

.button_group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.clearfix::after{
  content:'';
  display:table;
  clear:both;

}

.my_service{
  padding:100px 0;
  background-color: #f9f9f9;

}

.service_content {
  float: left;
  width: 33.33333333%;
  padding: 0 15px;
}

.service_content i {
  font-size: 30px;
  line-height: 46px;
}

.service_content h3 {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 13px;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.service_content p {
  color: #767676;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
/* Resume CSS 套版 */

.Resume {
  padding:100px 0;
}

.col_horizontal {
  padding-bottom: 16px;
  border-bottom: 1px solid #767676;
}

.col_horizontal:last-child {
  border-bottom: 0;
}

.resume_subtitle {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 12px;
  text-transform: capitalize;
}

.col_horizontal .col_item {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.exp_year {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 4px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.resume_detail h4 {
  font-size: 20px;
  line-height: 30px;
  
}

.resume_detail h6 {
  font-size: 16px;
  margin-bottom: 9px;
  text-transform: capitalize;
}

.resume_detail p {
  line-height: 22px;
}

.quotes {
  padding:100px 0;
  background-image: url(../images/plant.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  /* background-attachment: fixed 視差 (Parallax) 效果。背景圖能如這個單元的示範影片一樣可以固定不動 */

}

.quote_inner {
  color: #fff;
  text-align: center;
}

.quote_inner h3 {
  font-size: 28px;
  
}

.quote_inner p {
  font-size: 16px;
  margin-top: 12px;
}

.quote_inner a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 12px 49px;
  display: inline-block;
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.work{
  background-color: #f7f7f7;
  padding: 100px 0;
}



.col_work {
  float: left;
  width: 33.3333333333%;
  padding: 0 15px;
}

.col_work a {
  display: block;
  margin-bottom: 14px;
  position: relative;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  top: 0;
  left: 0;
}

.col_work a:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

.contact_form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.contact_form .form_input:first-child,
.contact_form .form_input:nth-child(2) {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.contact_form .form_input:nth-child(3) {
  width: 100%;
  padding: 0 15px;
}

.contact_form input.form_style {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: none;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

.contact_form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.form_submit {
  text-align: left;
  padding: 0 15px;
}

.form_submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 60px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.form_submit input:hover {
  background-color: #000;
  color: #fff;
}

footer{
  padding:80px 0;
  background-color: #000;
  color:#fff;
  text-align:center;
}

.footer_content p {
  line-height: 25px;
}

.footer_social_icon a i {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

